* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

:root {
    --main-color: #F9F9F9;
    --secondary-color: #181816
}

:root.dark-mode {
    --main-color: #181816;
    --secondary-color: #F9F9F9;
}

body {
    padding-top: 6.75rem;
    background: var(--main-color);
    color: var(--secondary-color);
    transition: background 0.3s, color 0.3s;
}

header {
    margin-bottom: 2.5rem;
}

header h1 {
    font-size: 2.25em;
    text-align: center;
}

.container {
    max-width: 55rem;
    width: 100%;
    margin: 0 auto;
}

form {
    font-size: 1.5em;
}

form input {
    font-size: 0.75em;
    margin-right: 1rem;
    padding-left: 0.5rem;
    height: 2rem;
    width: 15rem;
}

form button {
    font-size: 0.75em;
    height: 2rem;
    width: 10rem;
    border: none;
    background: mediumseagreen;
    color: #F9F9F9;
}

table {
    background-color: var(--main-color);
    margin-top: 1.5rem;
    width: 100%;
    font-size: 1.25rem;
    border: 2px solid var(--secondary-color);
    border-radius: 0.3rem;
}

table th {
    padding: 0.75rem 0 0.25rem 0;
    border-bottom: 2px solid var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
}

tbody td {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--secondary-color);
    text-align: center;
}

.dark-mode-button {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: var(--secondary-color);
    background: none;
    border: none;
}
